body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  width: 500px;
  height: 100px;
  padding: 20px;
  font-size: 20px;
  box-sizing: border-box;
  text-decoration: underline;
  word-spacing: 8px;
  border: solid 1px #e5e5e5;
  margin: 10px auto;
  display: block;
}


.simple-keyboard.hg-theme-default.myTheme {
  border-radius: 10px;
  margin: 10px auto;
  width: 500px;
}

.simple-keyboard.hg-layout-default .hg-button.hg-red.hg-red2 {
  background: rgb(229, 229, 229);
  color: white;
  border: none;
  box-shadow: none;
  cursor: default;
}

.header__menu-element {
  margin: 0 15px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(117, 117, 117);
}

.header__menu-element:active {
  color: black;
}

.header {
  justify-content: center;
  height: 50px;
  align-items: center;
}

.header__title {
  font-weight: 900;
}

.header__login {
   box-shadow: 0 0 3px -1px rgba(0,0,0,.3);
   border-bottom: 1px solid #b5b5b5;
   cursor: pointer;
   border-radius: 5px;
   padding: 5px;
  text-decoration: none;
  color: rgb(117, 117, 117);
 }

.header__login:active {
  background-color: #efefef;
}